@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';







/* Track */
::-webkit-scrollbar-track {
  background: rgb(226 232 240 / 0.7);
}
 
/* Handle */


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(151 157 165); 
}



@media (min-width:320px)  { 


    ::-webkit-scrollbar {
  width: 6px;
}
    ::-webkit-scrollbar-thumb {
  background:  rgb(181 187 195); 
  border-radius: 6px;
}
    /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  {
     /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
    ::-webkit-scrollbar {
  width: 10px;
}
    ::-webkit-scrollbar-thumb {
  background:  rgb(181 187 195); 
  border-radius: 10px;
}
    }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }